<h2 layout="row" layout-align="center">Apotek</h2>

<div layout="row" layout-align="center center">

<form name="myForm">

    <div ng-repeat="question in vm.form.questions">
        <div ng-if="question.type === 'text'">
            <form-text question="question"></form-text>
        </div>
        <div ng-if="question.type === 'radio'">
            <form-radio question="question"></form-radio>
        </div>
        <div ng-if="question.type === 'check'">
            <form-check question="question"></form-check>
        </div>
        <div ng-if="question.type === 'select'">
            <form-select question="question"></form-select>
        </div>
        <div ng-if="question.type === 'textarea'">
            <form-textarea question="question"></form-textarea>
        </div>
    </div>

    <form-submit submit="vm.send"></form-submit>
</form>
</div>