<h2 layout="row" layout-align="center">Apotek</h2>
<form name="myForm">

    <div ng-repeat="question in vm.forma.questions">
        <div ng-if="question.type === 'text'">
            <form-text></form-text>
        </div>
        <div ng-if="question.type === 'radio'">
            <form-radio></form-radio>
        </div>
        <div ng-if="question.type === 'check'">
            <form-check></form-check>
        </div>
        <div ng-if="question.type === 'select'">
            <form-select></form-select>
        </div>
    </div>

    <form-submit></form-submit>
</form>
