<section layout="row" align="left" flex="true">
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="true" md-whiteframe="4">

        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Alternatives</h1>
        </md-toolbar>

        <md-button id="radio" draggable>Single choice</md-button>
        <md-button id="text" draggable>Text-question</md-button>
        <md-button id="select" draggable>Select-question</md-button>
        <md-button id="textarea" draggable>Textarea-question</md-button>
        <md-button id="checkbox" draggable>Multiple choice</md-button>

    </md-sidenav>


    <div flex layout="column" layout-align="top center" droppable drop="vm.handleDrop">
        <div ng-hide="hide">
            <md-input-container>
                <label>Enter Formtitle</label>
                <input ng-model="vm.form.formtitle"/>
            </md-input-container>
            <md-button class="md-raised md-primary" data-ng-click="hide=true">Done</md-button>
        </div>
        <h3 class="md-headline" ng-hide="!hide">{{vm.form.formtitle}}</h3>


        <div ng-repeat="item in vm.itemBag track by $index">

            <div ng-if="item.type === 'text'">
                <add-text question="item"></add-text>
            </div>

            <div ng-if="item.type === 'radio'">
                <add-radio question="item" add="vm.addChoice"></add-radio>
            </div>

            <div ng-if="item.type==='select'">
                <add-select question="item" add="vm.addChoice"></add-select>
            </div>

            <div ng-if="item.type==='checkbox'">
                <add-checkbox question="item" add="vm.addChoice"></add-checkbox>
            </div>

            <div ng-if="item.type === 'textarea'">
                <add-textarea question="item"></add-textarea>
            </div>


            <div ng-if="item === 'text'">
                <add-question submit="vm.addText" index="$index" name="item"></add-question>
            </div>
            <div ng-if="item === 'radio'">
                <add-question submit="vm.addRadio" index="$index" name="item"></add-question>
            </div>
            <div ng-if="item === 'checkbox'">
                <add-question submit="vm.addCheck" index="$index" name="item"></add-question>
            </div>
            <div ng-if="item === 'select'">
                <add-question submit="vm.addSelect" index="$index" name="item"></add-question>
            </div>
            <div ng-if="item === 'textarea'">
                <add-question submit="vm.addTextarea" index="$index" name="item"></add-question>
            </div>
        </div>


        <md-button class="md-raised md-primary" data-ng-click="vm.send()">Save</md-button>
    </div>


</section>

<footer layout="row" layout-align="center center">
    <md-nav-bar>
        <md-nav-item md-nav-href="#/form?key={{vm.key}}">{{vm.key}}</md-nav-item>
    </md-nav-bar>
</footer>
