<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">

    <div id="radio" draggable>Radio</div>
    <div id="text" draggable>text</div>

</md-sidenav>

<fieldset layout="column" layout-fill="" layout-align="top center" droppable drop="vm.handleDrop">


    <md-button class="md-raised md-primary" data-ng-click="vm.send()">Sejv</md-button>
</fieldset>

<div ng-repeat="id in vm.itemBag track by $index">
    <div ng-if="id === 'text'">
        <add-text></add-text>
    </div>
    <div ng-if="id === 'radio'">
        <add-radio></add-radio>
    </div>
    <div ng-if="id === 'check'">
        <form-check></form-check>
    </div>
    <div ng-if="id === 'select'">
        <form-select></form-select>
    </div>
    <div ng-if="id === 'textarea'">
        <form-textarea></form-textarea>
    </div>
</div>





