<fieldset ng-form="checkbox" class="standard" >

    <legend>{{question.description}}</legend>

    <div ng-repeat="option in question.choices track by $index">
        <md-checkbox>
            {{option.description}}
        </md-checkbox>

    </div>

    <ng-input-container ng-hide="hide"><label>Enter a choice: </label>
        <input ng-model="option" required/>
    </ng-input-container>
    <md-button data-ng-click="add(question, option);hide=false" data-ng-disabled="checkbox.$invalid">Add</md-button>
    <md-button data-ng-click="hide=true">Done</md-button>
</fieldset>