<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkbox</title>
</head>
<body>

<fieldset ng-form="check">
    <legend ng-model="data.carColor">car color</legend>
    <input type="checkbox"  data-ng-model="data.carColor.Red"/>Red
    <input type="checkbox"  data-ng-model="data.carColor.Green"/>Green
    <input type="checkbox"  data-ng-model="data.carColor.Yellow"/>Yellow
    <input type="checkbox"  data-ng-model="data.carColor.Black"/>Black
</fieldset>

</body>
</html>