<fieldset ng-form="radio" >
    <legend>Radio</legend>


    <div ng-repeat="question in vm.questions">

        <div ng-if="question.questionType=='radio' ">
        <h3>
            {{ question.questiondescr }}
        </h3>

            <md-radio-group ng-model="question.answer">
                <md-radio-button ng-repeat="option in question.choices" ng-value="option.option" required>
                    {{ option.option }}
                </md-radio-button>
            </md-radio-group>

        Answer is {{question.answer}}

        </div>
    </div>


</fieldset>